/* custom CSS here font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
:focus,a:focus{outline:none}
a{color:#646c70}
a:hover{color:#b82028;text-decoration:none;}
body,html{height:100%;}
::selection{background:#1e206f;color:#fff;text-shadow:none;}
body{font-family:'Open Sans',sans-serif;font-size:13px;color:#646c70}
.childpage .page{overflow:hidden;min-height:100%;}

/*Reset boostrap*/
.page-header{font-family:'Poppins',sans-serif;margin:0;padding:0px 0px 40px 0px;border:none;}
.grp-breadcums{background:rgba(230,230,230,0.7);text-align:left;padding:10px 0px;left:0;z-index:99;position:absolute;right:0;bottom:0;font-size:12px}
ol.breadcrumb{padding:0;margin:0;background:none;}
ol.breadcrumb  a{color:#646c70}
ol.breadcrumb  a:hover{color:#b82028;text-decoration:none;}
.breadcrumb>li+li:before{content:"|";font:normal normal normal 14px/1 FontAwesome;font-size:10px;color:#909090;margin:0 4px;}
.breadcrumb>.active{color:#b82028;font-weight:bold;}
textarea.form-control{height:243px;overflow:auto;resize:none;padding-top:13px;}
.form-control:focus{border-color:#b82028;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0);}
.form-control{width:100%;border:1px solid #e8e8e8;border-radius:0;height:50px;-webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,0.075);box-shadow:inset 0 0px 0px rgba(0,0,0,0.075);}

/*For paging*/
ul.pagination{margin:0px 0px 40px;padding:0;display:block;text-align:right;}
.pagination>li>a,.pagination>li>span{border-radius:0!important;font-size:13px;color:#646c70;font-weight:normal;width:28px;height:28px;line-height:26px;padding:0;text-align:center;}
.pagination>li{display:inline-block;vertical-align:middle;}
.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus,.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{background:#b82028;color:#fff;border-color:#b82028}
li.arrow-pagin a:hover{background:#b82028;color:#fff;border-color:#b82028}

/*reset slick*/
button.slick-prev.slick-arrow{left:30px;}
button.slick-arrow{position:absolute;top:50%;margin-top:-22px;background:rgba(234,234,234,0.2);height:45px;outline:none;border:none;font-size:0;width:45px;padding:0;border-radius:50%;z-index:99;color:#fff;}
button.slick-next.slick-arrow{right:30px;}
button.slick-arrow:after{font:normal normal normal 14px/1 FontAwesome;font-size:20px}
button.slick-next.slick-arrow:after{content:"\f105";}
button.slick-prev.slick-arrow:after{content:"\f104";}
button.slick-arrow:hover{background:#ffe200;color:#002240;}

/*dot-square*/

/*ul.slick-dots button{font-size:0;background:none;border:none;}
ul.slick-dots li{display:inline-block;vertical-align:middle;width:30px;height:3px;background:#707070;margin:0 6px;cursor:pointer;}
ul.slick-dots{margin:0;padding:0;list-style:none;text-align:center;}
ul.slick-dots li.slick-active{background:#ffe200}*/

/*dot-cricle*/
ul.slick-dots button{font-size:0;background:none;border:none;}
ul.slick-dots li{display:inline-block;vertical-align:middle;width:8px;height:8px;background:rgb(255,255,255);margin:0 4px;cursor:pointer;position:relative;border-radius:50%;}
ul.slick-dots{margin:0;padding:0;list-style:none;text-align:center;position:absolute;left:0;right:0;bottom:20px;}
ul.slick-dots li:after{top:-3px;left:-3px;right:-3px;bottom:-3px;border:1px solid rgba(255,255,255,0);position:absolute;content:'';border-radius:50%;}
ul.slick-dots li.slick-active{background:#fff}
ul.slick-dots li.slick-active:after{border:1px solid rgba(255,255,255,1);}

/*for header*/
.t-header-1{}
.t-header-2{}
.t-header-3{}

/*Document*/
.document hr{margin-top:40px;margin-bottom:40px;border-top:1px solid #e8e8e8;}
.document{}
.document p{line-height:24px;margin:0 0 20px;}
.document h4{color:#212121;font-size:16px;font-weight:bold;line-height:30px;}
.document h5{color:#212121;font-size:14px;text-transform:uppercase;font-weight:bold;line-height:30px;}
.document h3{color:#36464e;font-size:20px;font-weight:500;font-family:'Poppins',sans-serif;line-height:30px;margin-top:0}
.document img{max-width:100%;}
.document li{position:relative;padding-left:22px;margin-bottom:8px;line-height:24px}
.document ul{list-style:none;padding:0;margin:0;}
.document li:before{content:"•";font:normal normal normal 14px/1 FontAwesome;position:absolute;top:3px;left:0;}
img.imgright{float:right;margin-left:30px;margin-bottom:30px;margin-top:9px;}

/*table*/
.tbl-cell{vertical-align:middle;display:table-cell;}
.tbl-full{display:table;width:100%;height:100%;}
table.table-cnt{width:100%;margin-top:30px;color:#121212;}
table.table-cnt th{font-size:18px;font-weight:bold;padding:13px;color:#121212;background:#e8e8e8;border:1px solid #dbdbdb;}
span.text-td{display:inline-block;width:115px;}
span.text-td1{display:inline-block;width:12px;}
table.table-cnt h4{}
table.table-cnt td:first-child{}
table.table-cnt td{border:1px solid #dbdbdb;padding:18px;}
table.table-cnt td:first-child p{}
table.table-cnt p{}
table.table-cnt a{text-decoration:underline;}
table.table-cnt a:hover{color:#333}

/*scroll top*/
.to-top{font-size:23px;line-height:40px;text-align:center;width:40px;height:40px;position:fixed;right:0;bottom:-100px;z-index:9999;overflow:hidden;cursor:pointer;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;background-color:#fcca03;color:rgb(72,72,72);}
.to-top .fa{line-height:35px;}

/*for menu*/
.mainmenu ul li a{font-size:12px;color:#000000;font-weight:600;letter-spacing:.25px;padding-bottom:42px;}
.mainmenu ul li a:hover{color:#b82028;text-decoration:underline;}
.mainmenu ul li{display:inline-block;vertical-align:middle;text-transform:uppercase;padding:0 27px;position:relative;}
.mainmenu ul li.active >a{color:#b82028;text-decoration:underline;}
.mainmenu ul{list-style:none;padding:0;margin:0;}
.mainmenu{display:inline-block;vertical-align:top;vertical-align:middle;}
.mainmenu ul li:hover ul.sub{display:block;}
ul.sub li a{display:block;color:#fff;padding:15px;}
ul.sub li a:hover{background:#b82028;color:#fff}
ul.sub li{display:block;text-align:left;padding:0;}
ul.sub{position:absolute;display:none;width:230px;background:rgba(54,70,78,0.8);top:59px;z-index:999;}
.btn-menu{display:none;}
.btn-menu{border-radius:2px;color:#fff!important;height:30px;font-size:0;line-height:1;position:fixed;top:50px;right:15px;text-transform:uppercase;width:30px;vertical-align:middle;z-index:5;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.active-menu .burger-icon-3{-webkit-transform:rotate3d(0,0,1,-45deg);-moz-transform:rotate3d(0,0,1,-45deg);-ms-transform:rotate3d(0,0,1,-45deg);-o-transform:rotate3d(0,0,1,-45deg);top:-8px;}
.active-menu .burger-icon-2{opacity:0;}
.active-menu .burger-icon-1{-webkit-transform:rotate3d(0,0,1,45deg);-moz-transform:rotate3d(0,0,1,45deg);-ms-transform:rotate3d(0,0,1,45deg);-o-transform:rotate3d(0,0,1,45deg);top:8px;}

/*for slider++*/
.page_mainslider .bgslider{background-size:cover;background-repeat:no-repeat;}
.page_mainslider .bgslider{min-height:700px;position:relative;}
.page_mainslider img.bgimg{display:none;}
.page_mainslider{position:relative;}
.page_mainslider img{width:100%}
.page_mainslider .container{bottom:0;color:#fff;left:0;position:absolute;top:0;right:0;z-index:99;color:#fff;}
.page_mainslider .infobanner{min-height:600px;}
.page_mainslider .infobanner{display:table;width:100%;height:100%;vertical-align:middle;}
.des-info h4{font-size:60px;margin:0;font-weight:bold;font-family:'Poppins',sans-serif;letter-spacing:-0.5px;padding-bottom:40px;}
.des-info{max-width:600px;position:relative;padding-top:45px;}
.des-info:after{content:'';position:absolute;height:3px;width:300px;background:#ffffff;top:0;left:0;}
.link-slider{background:#f8ae41;color:#fff;font-family:'Poppins',sans-serif;display:inline-block;padding:13px 50px;border-radius:40px;}
.v-more:hover,.link-slider:hover{background:#b82028;color:#fff}
.slick-active .des-info:after{-webkit-animation:fadeInLeft .8s;-moz-animation:fadeInLeft .8s;-o-animation:fadeInLeft .8s;animation:fadeInLeft .8s;}
.slick-active .des-info h4{-webkit-animation:fadeInLeft 1s;-moz-animation:fadeInLeft 1s;-o-animation:fadeInLeft 1s;animation:fadeInLeft 1s;}
.slick-active .des-info a{-webkit-animation:fadeInLeft 1.1s;-moz-animation:fadeInLeft 1.1s;-o-animation:fadeInLeft 1.1s;animation:fadeInLeft 1.1s;}

/*Footer*/
footer.footer .copyright p{margin:0;}
footer.footer .copyright{border-top:1px solid rgba(255,255,255,0.2);margin-top:30px;color:#cc878b;padding-top:30px;padding-bottom:30px;}
footer.footer li{display:inline-block;vertical-align:middle;padding:0 18px;}
footer.footer li.active a{color:#f8ae41;}
footer.footer ul{margin:0;padding:0;list-style:none;text-transform:uppercase;font-family:'Poppins',sans-serif;font-weight:300;}
footer.footer .address span i{margin-right:8px;}
footer.footer .address span{display:inline-block;vertical-align:top;padding:0 30px;}
footer.footer .address{margin-bottom:70px;}
footer.footer h4{font-size:20px;text-transform:uppercase;margin:0;padding-bottom:20px;}
.footer a:hover{color:#f8ae41}
.footer a{color:#fff;}
.footer{background:url(../img/bg-footer.jpg) no-repeat;background-size:cover;padding-top:60px;text-align:center;color:#fff;}

/*banner-innder*/
.page-banner{position:relative;}
.page-banner img{width:100%;position:relative;}
.grp-breadcums .container{position:relative!important;background:none!important;}
.page-banner .container{bottom:0;color:#fff;left:0;position:absolute;top:0;right:0;z-index:99;color:#fff;}
.page-banner .inner-banner{display:table;width:100%;height:100%;vertical-align:middle;}
.inner-banner h4{font-size:48px;margin:0;font-weight:300;font-family:'Poppins',sans-serif;text-transform:uppercase;text-align:center;}

/*contact*/
.form-style{margin-top:23px;}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus{outline:none;}
.form-cnt .form-item .form-ipt input.form-control{height:40px;}
.form-cnt .form-item .form-ipt{margin-left:160px;}
.form-cnt .form-item label{font-weight:normal;    /* display: inline-block; */width:150px;float:left;padding-top:13px;}
.form-cnt textarea.form-control{height:140px}
span.sys{color:red;}
.form-cnt .form-item{clear:both;margin-bottom:12px;margin-top:15px;}
.form-cnt p{line-height:24px;}
.form-cnt h5{font-size:14px;text-transform:uppercase;font-weight:600;margin-bottom:20px;color:#212121;margin-top:0}
.form-cnt .btn-sm{outline:none;padding:14px 45px;outline:none;}
.form-cnt .btn-sm:hover{background:#36464e}
.form-cnt .grp-btn {margin-top: 16px;}
.form-cnt img{ max-width: 100% }

/*address contact page*/
.box-address td.icon-cnt{width:22px;color:#b82028;}
.box-address td{vertical-align:top;padding-bottom:6px;}
.box-address table{width:100%;}
.box-address h4{font-size:14px;color:#212121;text-transform:uppercase;font-weight:600;margin:0;padding-bottom:20px;}
.box-address{}
/*Map*/
div#content p{margin:0;}
div#content h1{font-size:14px;text-transform:uppercase;padding:0;margin:0;color:#7b1b27;font-weight:bold;}
.map_canvas{margin-top:30px;}

/*PDPA*/
.box-pdpa{margin-top:40px;}
.widget-pdpa strong{font-weight:bold;color:#000;}
.widget-pdpa span{font-weight:600;color:#df0024;}
.widget-pdpa{text-align:center;border-top:1px solid #dadada;font-size:18px;border-bottom:1px solid #dadada;padding-top:15px;padding-bottom:15px;font-weight:400;}



/*Sub menu*/
ul.menuchild li a:after{position:absolute;content:"\f101";right:0;top:18px;font:normal normal normal 14px/1 FontAwesome;}
ul.menuchild li:first-child a{border-top:none;}
ul.menuchild li a{font-size:14px;color:#7d7d7d;text-transform:uppercase;border-top:1px solid #dbdbdb;display:block;padding:14px;position:relative;}
ul.menuchild li a:hover,ul.menuchild li.active a{color:#b82028;font-weight:bold;text-decoration:none;}
ul.menuchild li{list-style:none;}
ul.menuchild{margin:0;padding:0px 10px;list-style:none;border:1px solid #dbdbdb;font-family:'Poppins',sans-serif;}
ul.menuchild.menuother{border:none;padding:0;}
ul.menuchild.menuother li a{padding-left:0;text-transform:initial;}
/*tab*/
.nav-tabs li { display: inline-block; float: none; margin: 0; }
.nav-tabs li a { font-size: 12px; color: #282828; padding: 15px 31px; font-weight: bold; border: 1px solid #dddddd !important; border-radius: 4px; font-family: 'Poppins', sans-serif; }
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.nav-tabs li a:hover { background: #1862ad; color: #fff }
.nav-tabs { border-bottom: none; }
.tab-pane { padding-top: 30px }

/*Thank -you*/
.widget-thankyou{}
.widget-tk-img{float:left;width:60%;}
.widget-tk-img img{max-width:100%}
.widget-tk-info{float:right;width:40%;text-align:right;margin-top:71px;}
.widget-tk-info h4{font-size:72px;color:#b82028;font-family:'Poppins',sans-serif;font-weight:bold;margin:0;letter-spacing:-.5px;}
.widget-tk-info h5{font-size:40px;color:#36464e;font-family:'Poppins',sans-serif;font-weight:300;margin:0;letter-spacing:-.5px;padding-bottom:40px}
.widget-tk-info p{color:#646c70;line-height:24px;font-size:14px}

/*Accordion*/
.panel-group .panel { border: 0; box-shadow: 0 1px 1px rgba(0, 0, 0, 0); border: 1px solid #dbdbdb; border-radius: 0; }
.panel-default>.panel-heading { border-radius: 0 !important; padding: 0; background: none; border-color: #dbdbdb; }
h4.panel-title a { font-size: 16px; color: #434343; position: relative; display: block; padding: 16px 24px; background: none; font-weight: bold; }
h4.panel-title a { text-decoration: none; }
span.icon-tab { position: absolute; right: 40px; top: 15px; }
.panel-body { background: #f9f9f9; padding-left: 35px; padding-right: 35px; }
.panel-body.document strong { color: #434343; }
.panel-body.document { font-size: 14px; color: #434343; }
h4.panel-title a.collapsed span.icon-tab .fa-caret-down:before { content: "\f0da"; }
h4.panel-title a:after { position: absolute; content: ''; left: 0; right: 0; bottom: 0; top: 0; border: 5px solid #dbdbdb; }
h4.panel-title span.avatar:after { position: absolute; content: ''; left: 0; right: 0; bottom: 0; top: 0; border: 5px solid #dbdbdb; border-radius: 50% }
h4.panel-title a.collapsed:after { border: none; }
h4.panel-title a.collapsed span.avatar:after { border: none; }
h4.panel-title a.collapsed span.avatar:before { content: ''; height: 49px; top: 27px; right: -7px; }
h4.panel-title span.avatar:before { content: ''; width: 15px; background: #ffffff; height: 39px; position: absolute; top: 32px; right: -4px; z-index: 99; }
/*Radio*/
.grp-radio .radio { display: inline-block; vertical-align: top; padding-right: 20px; vertical-align: top; margin: 0; }
.radio+.radio,
.checkbox+.checkbox { margin: 0 }
.grp-radio { padding-top: 16px; }
/*Menu child when responsive*/
.btn-nav{display:none;}
@media (min-width:1200px){
    .container{width:1180px;}
}
@media (max-width:1200px){
    .mainmenu ul li{padding:0 7px;}
    .top-contact a{padding:16px 25px;}
}
@media (max-width:992px){

    /*For menu*/
    .btn-menu{display:block;}
    .btn-menu span{background:#b91f32;height:3px;margin-bottom:5px;display:block;position:relative;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
    ul.menu li{display:block;border-left:none;border-bottom:1px solid #eee;padding:0}
    ul.menu li a{padding:11px;display:block;color:#fff;}
    a.menu-page.active-menu{right:260px;}
    #menu.open-sub{right:0;}
    #menu{border-left:#fff solid 1px;bottom:0;margin:0;padding:0;overflow-y:auto;position:fixed;right:-250px;text-align:left;top:0;z-index:999;width:250px;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;top:0;background:rgba(72,66,66,0.8);height:100%}
    span.icon{position:absolute;right:0;top:0;background:#151515;width:40px;z-index:9999;height:38px;color:#fff;text-align:center;line-height:40px;border-left:1px solid rgba(167,167,167,0.45);cursor:pointer;}
    ul.menu ul.sub{position:relative;width:auto;height:0;opacity:1;overflow:hidden;visibility:visible;z-index:999;border:none;display:block;top:inherit;bottom:inherit!important;}
    ul.menu ul.sub.showchild{height:auto;}
    span.icon:after{content:"\f067";font:normal normal normal 14px/1 FontAwesome;}
    span.icon.open-icon:after{content:"\f068";}
    .mb-tab{display:none;}
    .btn-nav{background:#313131;border-radius:5px 5px 0 0;color:#fff!important;display:block;font-size:13px;font-weight:600;padding:10px 17px;position:relative;text-transform:uppercase;margin-top:6px;text-decoration:none!important;z-index:99;}
    .btn-nav:after{border-color:#fff transparent transparent;border-style:solid;border-width:6px 6px 0 6px;content:"";margin-top:-3px;position:absolute;top:50%;right:20px;}
    .btn-nav.open-nav:after{border-color:transparent transparent #fff;border-width:0 6px 6px 6px;}
    .childpage .page{overflow:hidden;min-height:100%;margin-bottom:0!important;}
    body,html{height:inherit;}
    
}
@media (max-width:800px){
   
    .page_mainslider img.bgimg{display:block;}
    .page_mainslider .infobanner{min-height:inherit;}
    .page_mainslider .bgslider{background:none!important;height:auto!important;min-height:auto}
    
}
@media (max-width:640px){
    
   
}
@media (max-width:480px){

    .form-cnt .form-item label{display:block;float:none;width:auto;padding-top:0;}
    .form-cnt .form-item .form-ipt{margin-left:0;}
    .form-cnt .form-item{margin-top:10px;margin-bottom:10px;}
}
@media (max-width:320px){

}
