.box-address
    .img-adress
      img(src="img/tempt/cnt-img.jpg" alt="")
    .info-adress
      h4 FIFTH AVENUE INTERIOR
      table
        tr
          td.icon-cnt: span: i.fa.fa-map-marker
          td(colspan="3") 81 Ubi Avenue 4 #01-11 UB.One Building Singapore 408830
        tr
          td.icon-cnt: span: i.fa.fa-phone
          td +65 6443 9530 
          td.icon-cnt: span: i.fa.fa-fax
          td +65 6443 9530 
        tr
          td.icon-cnt: span: i.fa.fa-envelope
          td(colspan="3"): a(href="mailto:enquiries@fifthavenue.com.sg") enquiries@fifthavenue.com.sg
      a(class="v-more effect-button" data-hover="GET DIRECTIONS" tabindex="0" href="#"): span GET DIRECTIONS
