.form-cnt
  h5 Contact Form
  p If you have further enquiry or feedback, please use the form below to contact us. We will get back to you soon as possible.
  .form-style
    .form-item
      label.lb1 Name <span class="sys">*</span>
      .form-ipt
        input.form-control(type="text")
    .form-item
      label.lb1 Contact Number <span class="sys">*</span>
      .form-ipt
        input.form-control(type="text")
    .form-item
      label.lb1 Email <span class="sys">*</span>
      .form-ipt
        input.form-control(type="text")
    .form-item
      label.lb1 Message/Feedback
      .form-ipt
        textarea.form-control
    .form-item
        label.lb1 
        .form-ipt
          img(src="img/tempt/capcha.jpg" atl="")
          .grp-btn
            button.btn.btn-sm(onclick="window.location.href='thank-you.html'") Submit
            button.btn.btn-sm Cancel
