.widget-map
  .box-address
    h4 Contact Details
    table
      tr
        td.icon-cnt: i.fa.fa-home
        td Twin Disc (Far East) Pte Ltd
        td.icon-cnt: i.fa.fa-phone
        td +65 6267 0800
      tr
        td.icon-cnt: i.fa.fa-map-marker
        td 6, Tuas Avenue 1, Singapore 639491
        td.icon-cnt: i.fa.fa-fax
        td +65 6267 0800
      tr
        td.icon-cnt: i.fa.fa-envelope-open
        td: a(href="mailto:enquiry@twindisc.com.sg") enquiry@twindisc.com.sg
        td.icon-cnt 
        td
    #map_canvas.map_canvas(style="height:410px")