.grp-radio
  .radio
    input(type="radio" name="radio1" id="radio1" value="option1" checked)
    label(for="radio1") Teacher
  .radio
    input(type="radio" name="radio1" id="radio2" value="option1")
    label(for="radio2") Parent
  .radio
    input(type="radio" name="radio1" id="radio3" value="option1")
    label(for="radio3") Professional