div#slider
  div.bgslider
    a.link-over(href="#")
    img.bgimg(src="img/tempt/slide-1.jpg" alt="")
    .container
      .infobanner
        .tbl-cell
          .des-info
            h4 The difference is in the design.
            p Smallest details make up a bigger picture
            a.link-slider(href="#") READ MORE
  div.bgslider
    a.link-over(href="#")
    img.bgimg(src="img/tempt/slide-1.jpg" alt="")
    .container
      .infobanner
        .tbl-cell
          .des-info
            h4 The difference is in the design.
            p Smallest details make up a bigger picture
            a.link-slider(href="#") READ MORE
  div.bgslider
    a.link-over(href="#")
    img.bgimg(src="img/tempt/slide-1.jpg" alt="")
    .container
      .infobanner
        .tbl-cell
          .des-info
            h4 The difference is in the design.
            p Smallest details make up a bigger picture
            a.link-slider(href="#") READ MORE