div.slider-inner
  div
    .inner-item
      p I think it is a wonderful idea to bring us to countries less fortunate than us. The experience humbles us and makes us more appreciative and willing to improve. It was a good experience. Thank you!
      .avartar
        .tbl-full
          .tbl-cell
            img(src="img/tempt/avatar.jpg" alt="")  
          .tbl-cell
            h4 Vanessa Anne Nunis
            p CHIJ Katong Convent School
  div
    .inner-item
      p I think it is a wonderful idea to bring us to countries less fortunate than us. The experience humbles us and makes us more appreciative and willing to improve. It was a good experience. Thank you!
      .avartar
        .tbl-full
          .tbl-cell
            img(src="img/tempt/avatar.jpg" alt="")  
          .tbl-cell
            h4 Vanessa Anne Nunis
            p CHIJ Katong Convent School
