div#slider
  div
    a.link-over(href="#")
    img(src="img/tempt/slide-1.jpg" alt="")
    .container
      .infobanner
        .tbl-cell
          .des-info
            h4 We Put Horsepower to Work
            a.link-slider(href="#") Learn More