a.btn-nav(href="#") Navigation
.mb-tab
  ul(class="nav nav-tabs" role="tablist")
    li(role="presentation"): a(href="#tab1" aria-controls="home" role="tab" data-toggle="tab"): span DIRECT FEED-IN 
    li(role="presentation" class="active"): a(href="#tab2" aria-controls="home" role="tab" data-toggle="tab"): span INDIRECT FEED-IN
    li(role="presentation"): a(href="#tab3" aria-controls="home" role="tab" data-toggle="tab"): span DC COUPLING HYBRID
    li(role="presentation"): a(href="#tab4" aria-controls="home" role="tab" data-toggle="tab"): span AC COUPLING HYBRID 
    li(role="presentation"): a(href="#tab4" aria-controls="home" role="tab" data-toggle="tab"): span AC+DC COUPLING MICRO-GRID 
    li(role="presentation"): a(href="#tab5" aria-controls="home" role="tab" data-toggle="tab"): span SMART GRID 
.tab-content
  #tab1.tab-pane
    .document
      p(style="text-align:center") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa optio, suscipit mollitia accusamus! Omnis excepturi incidunt iusto, ab laborum, nemo.
  #tab2.tab-pane.active 
    .document
      p: img(src="img/tempt/solution01.jpg" alt="")
      p(style="text-align:center") We propose the best solutions based on your requirements, and our site and technical assessment. Our design systems are engineered to provide you with smooth and uninterrupted electricity supplies based on your load profiles.
  #tab3.tab-pane
    .document
      p(style="text-align:center") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa optio, suscipit mollitia accusamus! Omnis excepturi incidunt iusto, ab laborum, nemo.
  #tab4.tab-pane
    .document
      p(style="text-align:center") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa optio, suscipit mollitia accusamus! Omnis excepturi incidunt iusto, ab laborum, nemo.
  #tab5.tab-pane
    .document
      p(style="text-align:center") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa optio, suscipit mollitia accusamus! Omnis excepturi incidunt iusto, ab laborum, nemo.