.widget-thankyou
  .widget-tk-img: img(src="img/tempt/thank-you.jpg" alt="")
  .widget-tk-info
    h4 Thank You
    h5 For Your Enquiry!
    p We have received your comments<br/>and have sent a confirmation email to your inbox.<br/>We thank you for your enquiry and will respond to you shortly.