.widget-thankyou
  //.widget-tk-img: img(src="img/tempt/thank-you.jpg" alt="")
  .widget-tk-info
    h4 THANK YOU!
    h5 For Your Enquiry!
    p We have received your enquiry, and have dropped you a confirmation email. We will respond to you <br/>within three working days.
    p Meanwhile, you may want to find out more about our company and our projects
    p 
      a(class="v-more effect-button" data-hover="ABOUT US " tabindex="0" href="#"): span ABOUT US
      a(class="v-more effect-button" data-hover="OUR PROJECTS " tabindex="0" href="#"): span OUR PROJECTS
    .thank-adress
      table
        tr
          td 
            p
              i.fa.fa-map-marker 
              span 81 Ubi Avenue 4 #01-11 UB.One Building <br/>Singapore 408830
          td 
            p
              i.fa.fa-phone 
              span +65 6443 9530 <br/>
            p
              i.fa.fa-fax 
              span +65 6443 9630
          td
            p 
              i.fa.fa-envelope 
              span: a(href="mailto:enquiries@fifthavenue.com.sg") enquiries@fifthavenue.com.sg