-
	box1_info = [
		{
			title_h4: 'Start-up Ecosystem',
			title_h3: 'Why Start Up',
			title_ul: '<ul><li>Incubation Support</li><li>Funding</li><li>Start-Up Careers</li><li>Our Start-Ups</li>',
			link:'#',
			img:'img/tempt/img1.jpg'
		},
		{
			title_h4: 'Education for',
			title_h3: 'Students',
			title_ul: '<ul><li>Incubation Support</li><li>Funding</li><li>Start-Up Careers</li><li>Our Start-Ups</li>',
			link:'#',
			img:'img/tempt/img2.jpg'
		},
		{
			title_h4: 'What’s new?',
			title_h3: 'Our Technologies',
			title_ul: '<ul><li>Incubation Support</li><li>Funding</li><li>Start-Up Careers</li><li>Our Start-Ups</li>',
			link:'#',
			img:'img/tempt/img3.jpg'
		},
		{
			title_h4: 'Learn more about',
			title_h3: 'Investor’s Guide',
			title_ul: '<ul><li>Incubation Support</li><li>Funding</li><li>Start-Up Careers</li><li>Our Start-Ups</li>',
			link:'#',
			img:'img/tempt/img4.jpg'
		}
	]
	                                                                                           