-
	menu_text = [
		{
			classname: '2',                             
			current: 'about-us',
			href:'about-us.html',
			text: 'About Us',
			subMenu:""
		},
		{
			classname: '',
			current: 'product',
			href:'products.html',
			text: 'Products',
			subMenu:""
		},
		{
			classname: '',
			current: 'our-service',
			href:'services.html',
			text: 'Our services',
			subMenu:""
		},
		{
			classname: '',
			current: 'solutions',
			href:'solutions.html',
			text: 'Engineering Solutions',
			subMenu: [
				{
					text: 'Marine',
					href : '#'
				},
				{
					text: 'Land Based',
					href : '#'
				},
				{
					text: 'Oil & Gas',
					href : '#'
				}
			]
		},
		{
			classname: '',
			current: 'net-work',
			href:'network-map.html',
			text: 'Network Map',
			subMenu:""
		}	
	]

-
	menu_child = [
		{
			text:"Oil & Gas",
			href:"#"

		},
		{
			text:"Land Based",
			href:"#"
		},
		{
			text:"Military",
			href:"#"
		},
		{
			text:"Marine",
			href:"#",
			current:"active"
		}
	]
-
	menu_child_sub = [
		{
			text:"New Ocean Yachts",
			href:"#",
			current:"active"
		},
		{
			text:"fast support vessel",
			href:"#"
		}
		
	]
-
	menu_login = [
		{
			text:"Equipment Information",
			href:"#",
			current:"active"
		},
		{
			text:"Lorem Ipsum",
			href:"#"
		},
		{
			text:"Curabitur arcu erat",
			href:"#"
		},
		{
			text:"Accumsan Id Imperdiet Et",
			href:"#"
		},
		{
			text:"Porttitor at Sem",
			href:"#"
		}
		
	]
-
	menu_products = [
		{
			text:"Marine",
			href:"#",
			current:"active"
		},
		{
			text:"Land-Based",
			href:"#"
		},
		{
			text:"FEL Gears",
			href:"#"
		}
	]
-
	menu_footer = [
		{
			text:"Home",
			href:"index.html",
			current: 'home'
		},
		{
			text:"ABOUT US ",
			href:"about-us.html",
			current: 'about-us'
		},
		{
			text:"Products",
			href:"products.html",
			current: 'product'
		},
		{
			text:"Our Services",
			href:"services.html",
			current: 'services'
		},
		{
			text:"Engineering Solutions  ",
			href:"solutions.html",
			current: 'solutions'
		},
		{
			text:"Network Map ",
			href:"network-map.html",
			current: 'network'
		},
		{
			text:"Contact Us ",
			current: 'contact-us',
			href:"contact-us.html"
		}
	]