footer.footer
  .container
    h4 Twin Disc (Far East) Pte Ltd
    .address
      span
        i.fa.fa-map-marker 
        | 6 Tuas Avenue 1, Singapore 639491
      span
        i.fa.fa-phone
        | +65 6267 0800
      span 
        i.fa.fa-fax
        | +65 6264 2080
      span
        i.fa.fa-envelope-o
        a(href="mailto:nquiry@twindisc.com.sg") enquiry@twindisc.com.sg
    +menufooter(menu_footer, '')  
  .copyright
    .container
      p Copyright © 2017 Twin Disc. All rights reserved. Web Excellence by <strong>Verz</strong> 
        img(src="img/verzdesign.png" alt="")

